<!-- End section -->

  <div class="section bg-cover" style="background-image: url(<%= asset_pack_path('media/images/v1/cta-bg.png') %>)">
    <div class="container">
      <div class="tekup-cta-wrap">
        <div class="tekup-cta-content center">
          <h2>Travaillons ensemble </h2>
          <p>
            Nous sommes des architectes de l’innovation et le partenaire de votre réussite.
          </p>
          <div class="tekup-extra-mt">
            <%= link_to raw("Démarrer un projet avec nous <i class='ri-arrow-right-up-line'></i>"), contact_path, class:"tekup-default-btn tekup-white-btn" %> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->