
    <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg" data-overlay="title" data-opacity="4">
        <div class="container z-index-common">
            <h1 class="breadcumb-title">A propos</h1>
            <ul class="breadcumb-menu">
                <!--<li><a href="index.html">Home</a></li>
                <li>About Us</li> -->
            </ul>
        </div>
    </div>
    <!--==============================
About Area  
==============================-->
    <div class="space-top" id="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="img-box7 wow fadeInLeft">
                        <div class="img1">
                            <%= image_pack_tag "media/images/img/bg/femme-assise-interieur-sa-voiture-regardant-smartphone.jpg", alt: "Hero Image" %>
                        </div>
                        
                       
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-5 ms-xl-4 wow fadeInRight">
                        <div class="title-area mb-20">
                            <span class="sub-title">QUI SOMMES-NOUS</span>
                            <h2 class="sec-title">Où que vous souhaitiez aller, nous vous y emmènerons.</h2>
                        </div>
                        <p class="mb-30">
                            Notre plateforme  de taxi en ligne vise à révolutionner vos déplacements en offrant une solution moderne, pratique et fiable. Grâce à notre application conviviale, vous pouvez réserver un taxi en quelques instants, où que vous soyez et à tout moment. Nos chauffeurs professionnels sont soigneusement sélectionnés pour assurer votre sécurité et votre confort tout au long du trajet. Que vous ayez besoin d'un transport local, d'un transfert vers l'aéroport ou d'un déplacement régional, nous sommes là pour répondre à vos besoins. Avec des tarifs transparents et compétitifs, vous pouvez voyager en toute tranquillité d'esprit sans vous soucier des surprises à la fin du trajet. Notre engagement envers un service clientèle exceptionnel signifie que nous sommes toujours là pour vous aider et répondre à vos questions. Simplifiez vos déplacements et profitez d'une expérience de taxi sans stress avec notre service de taxi en ligne.
                        </p>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
 

</body>

