<div class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-12">

<div class="card text-center">
  <div class="card-header alert alert-danger">
    <h2>IMPORTANT</h2>
  </div>
  <div class="card-body">
    <!--<h5 class="card-title">Special title treatment</h5>  -->
    <p class="card-text">
    Un bloqueur de publicité a été détecté, veuillez désactiver votre bloqueur de publicité pour une expérience utilisateur plus fluide!
</p>
   
  </div>
</div>
</div>
</div>
</div>