<!-- Breadcrumb -->

<%= render "layouts/partials/front/header/breadcrumbs" %>


<!-- Breadcrumb End -->



  <div class="section tekup-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="tekup-blog-wrap bg-white">
            <a href="single-blog.html">
              <div class="tekup-blog-thumb">
                <img src="assets/images/blog/blog14.png" alt="">
              </div>
            </a>
            <div class="tekup-blog-content blog-page-content">
              <div class="tekup-blog-meta">
                <ul>
                  <li><a href="single-blog.html">Technology</a></li>
                  <li><a href="single-blog.html">26 June 2023</a></li>
                </ul>
              </div>
              <a href="single-blog.html">
                <h2>Technology support allows erie non-profit to serve</h2>
              </a>
              <p>Different companies have been using the OpenAI API to power their products example, Duolingo uses OpenAI’s GPT-3 to provide French grammar corrections on</p>
              <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
          <div class="tekup-blog-wrap bg-white">
            <a href="single-blog.html">
              <div class="tekup-blog-thumb">
                <img src="assets/images/blog/blog15.png" alt="">
              </div>
            </a>
            <div class="tekup-blog-content blog-page-content">
              <div class="tekup-blog-meta">
                <ul>
                  <li><a href="single-blog.html">Technology</a></li>
                  <li><a href="single-blog.html">26 June 2023</a></li>
                </ul>
              </div>
              <a href="single-blog.html">
                <h2>The act of knowledge & the act of design thinking</h2>
              </a>
              <p>Different companies have been using the OpenAI API to power their products example, Duolingo uses OpenAI’s GPT-3 to provide French grammar corrections on</p>
              <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
          <div class="tekup-blog-wrap bg-white">
            <a href="single-blog.html">
              <div class="tekup-blog-thumb">
                <img src="assets/images/blog/blog16.png" alt="">
              </div>
            </a>
            <div class="tekup-blog-content blog-page-content">
              <div class="tekup-blog-meta">
                <ul>
                  <li><a href="single-blog.html">Technology</a></li>
                  <li><a href="single-blog.html">26 June 2023</a></li>
                </ul>
              </div>
              <a href="single-blog.html">
                <h2>Core on web vitals, a smas magazine case study</h2>
              </a>
              <p>Different companies have been using the OpenAI API to power their products example, Duolingo uses OpenAI’s GPT-3 to provide French grammar corrections on</p>
              <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
          <div class="tekup-blog-wrap bg-white">
            <a href="single-blog.html">
              <div class="tekup-blog-thumb">
                <img src="assets/images/blog/blog17.png" alt="">
              </div>
            </a>
            <div class="tekup-blog-content blog-page-content">
              <div class="tekup-blog-meta">
                <ul>
                  <li><a href="single-blog.html">Technology</a></li>
                  <li><a href="single-blog.html">26 June 2023</a></li>
                </ul>
              </div>
              <a href="single-blog.html">
                <h2>Data backup and recovery best practices small</h2>
              </a>
              <p>Different companies have been using the OpenAI API to power their products example, Duolingo uses OpenAI’s GPT-3 to provide French grammar corrections on</p>
              <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
          <div class="tekup-blog-wrap bg-white">
            <a href="single-blog.html">
              <div class="tekup-blog-thumb">
                <img src="assets/images/blog/blog18.png" alt="">
              </div>
            </a>
            <div class="tekup-blog-content blog-page-content">
              <div class="tekup-blog-meta">
                <ul>
                  <li><a href="single-blog.html">Technology</a></li>
                  <li><a href="single-blog.html">26 June 2023</a></li>
                </ul>
              </div>
              <a href="single-blog.html">
                <h2>Proactive customer experience in the business</h2>
              </a>
              <p>Different companies have been using the OpenAI API to power their products example, Duolingo uses OpenAI’s GPT-3 to provide French grammar corrections on</p>
              <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
          <div class="tekup-navigation">
            <nav class="navigation pagination" aria-label="Posts">
              <div class="nav-links">
                <a class="next page-numbers" href="">
                  <i class="ri-arrow-left-s-line"></i>
                </a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="">2</a>
                <a class="page-numbers" href="">3</a>
                <a class="next page-numbers" href="">
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tekup-blog-sidebar">
            <div class="tekup-blog-widgets">
              <h5>Search</h5>
              <form action="#">
                <div class="tekup-search-box">
                  <input type="search" placeholder="Type to search...">
                  <button id="tekup-search-btn" type="button"><i class="ri-search-line"></i></button>
                </div>
              </form>
            </div>
            <div class="tekup-blog-widgets">
              <h5>Categories</h5>
              <div class="tekup-blog-categorie">
                <ul>
                  <li><a href="">Uncategorized<span>(18)</span></a></li>
                  <li><a href="">Marketing<span>(5)</span></a></li>
                  <li><a href="">Business<span>(2)</span></a></li>
                  <li><a href="">Technology<span>(11)</span></a></li>
                  <li><a href="">Consulting<span>(4)</span></a></li>
                  <li><a href="">Cyber Security<span>(8)</span></a></li>
                </ul>
              </div>
            </div>
            <div class="tekup-blog-widgets">
              <h5>Recent Posts</h5>
              <a class="tekup-recent-post-item" href="single-blog.html">
                <div class="tekup-recent-post-thumb">
                  <img src="assets/images/blog/recent-post1.png" alt="">
                </div>
                <div class="tekup-recent-post-data">
                  <p>Planning your online business goals with a specialist </p>
                  <span>26 June 2023</span>
                </div>
              </a>
              <a class="tekup-recent-post-item" href="single-blog.html">
                <div class="tekup-recent-post-thumb">
                  <img src="assets/images/blog/recent-post2.png" alt="">
                </div>
                <div class="tekup-recent-post-data">
                  <p>Boost your startup business with our digital agency </p>
                  <span>26 June 2023</span>
                </div>
              </a>
              <a class="tekup-recent-post-item" href="single-blog.html">
                <div class="tekup-recent-post-thumb">
                  <img src="assets/images/blog/recent-post3.png" alt="">
                </div>
                <div class="tekup-recent-post-data">
                  <p>The importance of a strong digital for strategy </p>
                  <span>26 June 2023</span>
                </div>
              </a>
            </div>
            <div class="tekup-blog-widgets">
              <h5>Tags</h5>
              <div class="tekup-blog-tags">
                <ul>
                  <li><a href="">Business</a></li>
                  <li><a href="">Digital</a></li>
                  <li><a href="">IT Solution</a></li>
                  <li><a href="">Technology</a></li>
                  <li><a href="">Cyber Security</a></li>
                  <li><a href="">Digital</a></li>
                  <li><a href="">Finance</a></li>
                  <li><a href="">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



 