<!-- Breadcrumb -->

<%= render "layouts/partials/front/breadcrumbs"%>


<!-- Breadcrumb End -->


 

  <div class="section tekup-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 d-flex align-items-center">
          <div class="tekup-default-content">
            <h2>Construisons ensemble un superbe projet</h2>
            <p>Nous nous engageons à fournir un service client et une assistance exceptionnels. Si vous rencontrez des difficultés techniques ou avez besoin d'aide, veuillez nous contacter.</p>
            <div class="tekup-contact-info-wrap wrap2">
              <div class="tekup-contact-info mb-0">
                <i class="ri-map-pin-2-fill"></i>
                <h5>Adresse</h5>
                <p>Doumanzana,<br> près d'ASSACODOU <br> Bamako - Mali</p>
              </div>
              <div class="tekup-contact-info mb-0">
                <i class="ri-mail-fill"></i>
                <h5>Contact</h5>
                <a href="mailto:contact@techzenith.io">contact@techzenith.io</a>
                <a href="tel:+223">+223 70 20 70 16/ 70 47 11 35</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 offset-xl-1 col-lg-6">
          <div class="tekup-main-form">
            <h3>Remplissez le formulaire de contact</h3>
            <p>N'hésitez pas à nous contacter, nous ne spammons pas votre email</p>
            <form action="#">
              <div class="row">
                <div class="col-lg-6">
                  <div class="tekup-main-field">
                    <input type="text" placeholder="Votre nom">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="tekup-main-field">
                    <input type="number" placeholder="Téléphone">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="tekup-main-field">
                    <input type="email" placeholder="Adresse email">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="tekup-main-field">
                    <textarea name="textarea" placeholder="Votre message"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button id="tekup-main-form-btn" type="button">Envoyer <i class="ri-arrow-right-up-line"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->

<!--
  <div id="map"></div>
-->



  
