
    <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg" data-overlay="title" data-opacity="4">
        <div class="container z-index-common">
            <h1 class="breadcumb-title">Nos services</h1>
            <ul class="breadcumb-menu">
                <!-- <li><a href="index.html">Home</a></li>
                <li>Our Services</li> -->
            </ul>
        </div>
    </div>
    <!--==============================
Service Area  
==============================-->
    <section class="overflow-hidden space">
        <div class="container">
            <div class="row gy-4">

                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="service-item style2 wow fadeInUp" data-bg-src="assets/img/service/service_shape_1.jpg">
                        <div class="service-item_img">
                             <%= image_pack_tag "media/images/img/bg/chauffeur-taxi-attendant-son-client.jpg", alt: "" %>
                        </div>
                        <div class="service-item_content">
                            <h3 class="service-item_title"><a href="service-details.html">Taxi privé</a></h3>
                            <p class="service-item_text">
                            Notre service de taxi privé offre un moyen pratique et sécurisé de vous déplacer en toute tranquillité. Profitez d'un trajet personnalisé avec des chauffeurs professionnels et des véhicules confortables pour répondre à vos besoins spécifiques.
                        </p>

                            <a href="#" class="line-btn">
                                Découvrir plus
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="service-item style2 wow fadeInUp" data-bg-src="assets/img/service/service_shape_1.jpg">
                        <div class="service-item_img">
                            <%= image_pack_tag "media/images/img/bg/chef-entreprise-prospere.jpg", alt: "" %>
                        </div>
                        <div class="service-item_content">
                            <h3 class="service-item_title"><a href="service-details.html">Taxi VIP</a></h3>
                            <p class="service-item_text">
                                Offrez-vous l'ultime expérience de déplacement avec notre service de Taxi VIP, alliant luxe, confort et discrétion pour répondre à toutes vos exigences.
Explorez le raffinement du voyage avec notre service de Taxi VIP, offrant un accompagnement personnalisé et un service haut de gamme pour chaque trajet.</p>
                            <a href="#" class="line-btn">
                                Découvrir plus
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="service-item style2 wow fadeInUp" data-bg-src="assets/img/service/service_shape_1.jpg">
                        <div class="service-item_img">
                            <%= image_pack_tag "media/images/img/bg/chauffeur-uber-elegant-donnant-taxi.jpg", alt: "" %>
                        </div>
                        <div class="service-item_content">
                            <h3 class="service-item_title"><a href="service-details.html">Véhicule privé</a></h3>
                            <p class="service-item_text">
                            Découvrez notre service de véhicule privé pour des déplacements personnalisés et confortables. Nos chauffeurs professionnels vous garantissent un trajet sûr et agréable, où que vous soyez. Profitez d'une expérience de transport haut de gamme avec notre service de véhicule privé.
                        </p>
                            <a href="#" class="line-btn">
                                Découvrir plus
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="service-item style2 wow fadeInUp" data-bg-src="assets/img/service/service_shape_1.jpg">
                        <div class="service-item_img">
                            <%= image_pack_tag "media/images/img/bg/taxi-moto.png", alt: "" %>
                        </div>
                        <div class="service-item_content">
                            <h3 class="service-item_title"><a href="service-details.html">Taxi moto</a></h3>
                            <p class="service-item_text">Offrez-vous une expérience de déplacement rapide et sécurisée avec notre service de taxi moto. Nos chauffeurs expérimentés vous conduisent à destination en évitant les embouteillages, vous permettant ainsi d'arriver à l'heure et en toute tranquillité. Profitez de la praticité et du confort d'un trajet en moto pour vos déplacements urbains.</p>
                            <a href="#" class="line-btn">
                                Découvrir plus
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                   
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                    
                </div>
            </div>
        </div>
    </section>
   