<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tekup || Responsive HTML 5 Template</title>

  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  <!--- End favicon-->

  <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet"> <!-- End google font  -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/remixicon.css">


  <!-- Code Editor  -->

  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/app.min.css">
</head>

<body class="light">

  <div class="tekup-preloader-wrap">
    <div class="tekup-preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>




  <header class="site-header tekup-header-section" id="sticky-menu">
    <div class="tekup-header-top bg-light1">
      <div class="container-fuild">
        <div class="tekup-header-info-wrap">
          <div class="tekup-header-info dark-color">
            <ul>
              <li><i class="ri-map-pin-2-fill"></i>2774 Oak Drive, Plattsburgh, New York</li>
            </ul>
          </div>
          <div class="tekup-header-info dark-color">
            <ul>
              <li><a href="tel:123"><i class="ri-phone-fill"></i>518-564-3200</a></li>
              <li><a href="mailto:name@email.com"><i class="ri-mail-fill"></i>mathemeus@example.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-header-bottom bg-white">
      <div class="container-fuild">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="index.html">
              <img src="assets/images/logo/logo-dark.svg" alt="" class="light-version-logo">
            </a>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Demo <i class="ri-arrow-down-s-line"></i></a>
                  <ul class="sub-menu" id="submenu-1">
                    <li class="sub-menu--item">
                      <a href="index.html">
                        <span class="menu-item-text">Home 01</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-02.html">
                        <span class="menu-item-text">home 02</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-03.html">
                        <span class="menu-item-text">home 03</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-04.html">
                        <span class="menu-item-text">home 04</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-05.html">
                        <span class="menu-item-text">home 05</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-06.html">
                        <span class="menu-item-text">home 06</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-07.html">
                        <span class="menu-item-text">home 07</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-08.html">
                        <span class="menu-item-text">home 08</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-09.html">
                        <span class="menu-item-text">home 09</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-10.html">
                        <span class="menu-item-text">home 10</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="about-us.html" class="nav-link-item">About Us</a>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Pages <i class="ri-arrow-down-s-line"></i></a>
                  <ul class="sub-menu" id="submenu-2">
                    <li class="sub-menu--item">
                      <a href="about-us.html">
                        <span class="menu-item-text">About Us</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="pricing.html">
                        <span class="menu-item-text">Pricing</span>
                      </a>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">blog <i class="ri-arrow-down-s-line"></i></a>
                      <ul class="sub-menu shape-none" id="submenu-3">
                        <li class="sub-menu--item">
                          <a href="blog.html">
                            <span class="menu-item-text">Blog</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="blog-grid.html">
                            <span class="menu-item-text">Blog grid</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-blog.html">
                            <span class="menu-item-text">blog details</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Service<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-4">
                        <li class="sub-menu--item">
                          <a href="service.html">
                            <span class="menu-item-text">service</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-service.html">
                            <span class="menu-item-text">service details</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Team<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-5">
                        <li class="sub-menu--item">
                          <a href="team.html">
                            <span class="menu-item-text">team</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-team.html">
                            <span class="menu-item-text">team details</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Portfolio<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-6">
                        <li class="sub-menu--item">
                          <a href="portfolio-01.html">
                            <span class="menu-item-text">Portfolio Grid</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="portfolio-02.html">
                            <span class="menu-item-text">Portfolio masonry</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-portfolio.html">
                            <span class="menu-item-text">Single Portfolio</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-7">
                        <li class="sub-menu--item">
                          <a href="faq.html">
                            <span class="menu-item-text">faq</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="errors-404.html">
                            <span class="menu-item-text">Error 404</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="testimonial.html">
                            <span class="menu-item-text">testimonial</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Shop<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-8">
                        <li class="sub-menu--item">
                          <a href="shop.html">
                            <span class="menu-item-text">shop</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-shop.html">
                            <span class="menu-item-text">Shop Details</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="my-cart.html">
                            <span class="menu-item-text">My Cart</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="checkout.html">
                            <span class="menu-item-text">Checkout</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Blog <i class="ri-arrow-down-s-line"></i></a>
                  <ul class="sub-menu" id="submenu-9">
                    <li class="sub-menu--item">
                      <a href="blog.html">
                        <span class="menu-item-text">blog</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog-grid.html">
                        <span class="menu-item-text">Blog grid</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-blog.html">
                        <span class="menu-item-text">blog Details</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="contact-us.html" class="nav-link-item">Contact Us</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header-btn header-btn-l1 ms-auto d-none d-xs-inline-flex">
            <div class="tekup-header-icon">
              <div class="tekup-header-search">
                <i class="ri-search-line"></i>
              </div>
              <a class="tekup-default-btn tekup-header-btn" href="contact-us.html">Get in Touch <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </div>
    <div class="tekup-header-search-section">
      <div class="container">
        <div class="tekup-header-search-box">
          <input type="search" placeholder="Search here...">
          <button id="header-search" type="button"><img src="assets/images/v1/search-dark.png" alt=""></button>
          <p>Type above and press Enter to search. Press Close to cancel.</p>
        </div>
      </div>
      <div class="tekup-header-search-close">
        <i class="ri-close-line"></i>
      </div>
    </div>
  </header>
  <div class="search-overlay"></div>
  <!--End landex-header-section -->



  <div class="tekup-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
    <div class="container">
      <h1 class="post__title">Technology support allows erie non-profit to serve</h1>
      <nav class="breadcrumbs">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li aria-current="page"> Technology support allows erie non-profit to serve</li>
        </ul>
      </nav>

    </div>
  </div>
  <!-- End breadcrumb -->

  <div class="section tekup-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="tekup-blog-thumb single-blog">
            <img src="assets/images/blog/blog14.png" alt="">
          </div>
          <div class="tekup-single-post-content-wrap">
            <div class="tekup-single-post-meta">
              <ul>
                <li><a href=""><i class="ri-calendar-fill"></i> 26 June 2023</a></li>
                <li><a href=""><i class="ri-bookmark-fill"></i> Technology</a></li>
                <li><a href=""><i class="ri-chat-2-fill"></i> 2 Comments</a></li>
              </ul>
            </div>
            <div class="entry-content">
              <p>Vast numbers of employees now work remotely, and it’s too late to develop a set of remote-work policies if you didn’t already have one. But there are ways to make the remote-work experience productive and engaging for employees</p>

              <p>Use both direct conversations and indirect observations to get visibility into employees’ challenges and concerns. Use every opportunity to make clear to employees that you support and care them. To facilitate regular conversations between managers and employees, provide managers with guidance on how best to broach sensitive subjects arising from the COVID-19 pandemic, including alternative work models, job security and prospects, impact on staffing</p>

              <div class="tekup-single-thumb">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="assets/images/blog/blog1.png" alt="">
                  </div>
                  <div class="col-lg-6">
                    <img src="assets/images/blog/blog2.png" alt="">
                  </div>
                </div>
              </div>

              <p>The third Monday of January is supposed to be the most depressing day of the year. Whether you believe that or not, the long nights, cold weather, and trying to keep to new year resolutions are all probably getting to you a little by now. To make matters worse many will still be recovering from their Christmas spending. So how can you make today</p>

              <blockquote>“ We appreciate the consistent high-quality service provided by their team goes above and beyond concerns promptly ”</blockquote>

              <p>You can make some quick cash by switching your bank account to one with a bonus. Some banks are giving away £150 for moving your custom, while others offer cashback or high interest. Of course, it’s worth checking you won’t lose out in other.</p>
              <p>What’s up in the loft? Or under the bed? If you aren’t sure it probably means you don’t that’s a sign you should try to sell it. If there’s the potential for it to be rare or part of a collection</p>


              <div class="tekup-single-post-tag-wrap">
                <div class="tekup-blog-tags">
                  <ul>
                    <li><a href="">IT Solution</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Cyber Security</a></li>
                    <li><a href="">Software</a></li>
                  </ul>
                </div>
              </div>

              <div class="tekup-post-navigation">
                <a href="single-blog.html" class="nav-previous">
                  <i class="ri-arrow-left-up-line"></i> Perv
                  <h5>Data backup and recovery best practices small</h5>
                </a>
                <a href="single-blog.html" class="nav-next">
                  Next <i class="ri-arrow-right-up-line"></i>
                  <h5>Proactive customer experience in the business</h5>
                </a>
              </div>

              <div class="tekup-post-comment">
                <h3>Comments:</h3>
                <ul>
                  <li>
                    <div class="tekup-post-comment-wrap">
                      <div class="tekup-post-comment-thumb">
                        <img src="assets/images/team/team5.png" alt="">
                      </div>
                      <div class="tekup-post-comment-data">
                        <a class="tekup-comment-reply" href="">
                          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.0846 15.3332L0.917969 7.99984L10.0846 0.666504V5.24984C15.1472 5.24984 19.2513 9.35394 19.2513 14.4165C19.2513 14.6667 19.2413 14.9145 19.2216 15.1596C17.8401 12.5375 15.0878 10.7498 11.918 10.7498H10.0846V15.3332Z" fill="#0D0E1D" />
                          </svg>
                          Reply</a>
                        <p>Legal expertise and is client focused we enhance entrepreneurial environment flexible supportive, allowing our lawyers introduced</p>
                        <strong>Ricky Smith</strong>
                        <span>June 21, 2023</span>
                      </div>
                    </div>
                  </li>
                  <li class="children">
                    <div class="tekup-post-comment-wrap">
                      <div class="tekup-post-comment-thumb">
                        <img src="assets/images/team/team6.png" alt="">
                      </div>
                      <div class="tekup-post-comment-data">
                        <a class="tekup-comment-reply" href="">
                          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.0846 15.3332L0.917969 7.99984L10.0846 0.666504V5.24984C15.1472 5.24984 19.2513 9.35394 19.2513 14.4165C19.2513 14.6667 19.2413 14.9145 19.2216 15.1596C17.8401 12.5375 15.0878 10.7498 11.918 10.7498H10.0846V15.3332Z" fill="#0D0E1D" />
                          </svg>

                          Reply</a>
                        <p>Legal expertise and is client focused we enhance entrepreneurial environment flexible supportive, allowing our lawyers</p>
                        <strong>Brooklyn Simmons</strong>
                        <span>September 22, 2023</span>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>


              <div class="tekup-comment-box">
                <h3>Leave a comments:</h3>
                <form action="#">
                  <div class="tekup-comment-box-form">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="tekup-comment-form">
                          <input type="text" placeholder="Your Name*">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="tekup-comment-form">
                          <input type="email" placeholder="Email Address*">
                        </div>
                      </div>
                    </div>
                    <div class="tekup-comment-form">
                      <textarea name="textarea" placeholder="Write us your comment"></textarea>
                    </div>
                    <div class="tekup-check">
                      <input type="checkbox" id="css">
                      <label for="css">Save my name, email, and website in this browser for the next time I comment.</label>
                    </div>
                    <button id="tekup-default-btn" type="submit">Post comment <i class="ri-arrow-right-up-line"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tekup-blog-sidebar">
            <div class="tekup-blog-widgets">
              <h5>Search</h5>
              <form action="#">
                <div class="tekup-search-box">
                  <input type="search" placeholder="Type to search...">
                  <button id="tekup-search-btn" type="button"><i class="ri-search-line"></i></button>
                </div>
              </form>
            </div>
            <div class="tekup-blog-widgets">
              <h5>Categories</h5>
              <div class="tekup-blog-categorie">
                <ul>
                  <li><a href="">Uncategorized<span>(18)</span></a></li>
                  <li><a href="">Marketing<span>(5)</span></a></li>
                  <li><a href="">Business<span>(2)</span></a></li>
                  <li><a href="">Technology<span>(11)</span></a></li>
                  <li><a href="">Consulting<span>(4)</span></a></li>
                  <li><a href="">Cyber Security<span>(8)</span></a></li>
                </ul>
              </div>
            </div>
            <div class="tekup-blog-widgets">
              <h5>Recent Posts</h5>
              <a class="tekup-recent-post-item" href="single-blog.html">
                <div class="tekup-recent-post-thumb">
                  <img src="assets/images/blog/recent-post1.png" alt="">
                </div>
                <div class="tekup-recent-post-data">
                  <p>Planning your online business goals with a specialist </p>
                  <span>26 June 2023</span>
                </div>
              </a>
              <a class="tekup-recent-post-item" href="single-blog.html">
                <div class="tekup-recent-post-thumb">
                  <img src="assets/images/blog/recent-post2.png" alt="">
                </div>
                <div class="tekup-recent-post-data">
                  <p>Boost your startup business with our digital agency </p>
                  <span>26 June 2023</span>
                </div>
              </a>
              <a class="tekup-recent-post-item" href="single-blog.html">
                <div class="tekup-recent-post-thumb">
                  <img src="assets/images/blog/recent-post3.png" alt="">
                </div>
                <div class="tekup-recent-post-data">
                  <p>The importance of a strong digital for strategy </p>
                  <span>26 June 2023</span>
                </div>
              </a>
            </div>
            <div class="tekup-blog-widgets">
              <h5>Tags</h5>
              <div class="tekup-blog-tags">
                <ul>
                  <li><a href="">Business</a></li>
                  <li><a href="">Digital</a></li>
                  <li><a href="">IT Solution</a></li>
                  <li><a href="">Technology</a></li>
                  <li><a href="">Cyber Security</a></li>
                  <li><a href="">Digital</a></li>
                  <li><a href="">Finance</a></li>
                  <li><a href="">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Footer  -->

  <footer class="tekup-footer-section dark-bg">
    <div class="container">
      <div class="tekup-footer-top tekup-section-padding">
        <div class="row">
          <div class="col-xl-3 col-lg-12">
            <div class="tekup-footer-textarea light-color">
              <a href="index.html">
                <img src="assets/images/logo/logo-white.svg" alt="">
              </a>
              <p>We are architects of advancement, and partners in your success. As a dynamic forward</p>
              <div class="tekup-social-icon-box style-two">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/">
                      <i class="ri-facebook-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-md-3">
            <div class="tekup-footer-menu light-color">
              <div class="tekup-footer-title light-color">
                <h5>Quick Links</h5>
              </div>
              <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-4">
            <div class="tekup-footer-menu light-color extar-margin">
              <div class="tekup-footer-title light-color">
                <h5>Services</h5>
              </div>
              <ul>
                <li><a href="">UI/UX Design</a></li>
                <li><a href="">App Development</a></li>
                <li><a href="">Digital Marketing</a></li>
                <li><a href="">Web Development</a></li>
                <li><a href="">Cyber Security</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-5">
            <div class="tekup-footer-title light-color light-color">
              <h5>Subscribe Our Newsletter</h5>
              <p>Get ready to work together for the better solution for your business</p>
            </div>
            <div class="tekup-subscription">
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button id="tekup-subscription-btn" type="button">
                  <i class="ri-send-plane-fill"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-footer-bottom">
        <div class="row">
          <div class="col-md-6">
            <div class="tekup-copywright light-color right">
              <p> &copy; 2024 MthemeUs. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tekup-footer-menu light-color style-two right mb-0">
              <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>





  <!-- scripts -->
  <script src="assets/js/jquery-3.7.1.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/menu/menu.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/skill-bar.js"></script>
  <script src="assets/js/slick-animation.min.js"></script>
  <script src="assets/js/faq.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/tabs-slider.js"></script>
  <script src="assets/js/product-increment.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyArZVfNvjnLNwJZlLJKuOiWHZ6vtQzzb1Y"></script>

  <script src="assets/js/app.js"></script>


</body>
</html>