<!-- Breadcrumb -->

<%= render "layouts/partials/front/header/breadcrumbs" %>

  <!-- End breadcrumb -->

  <div class="section tekup-section-padding">
    <div class="container">
      <div class="tekup-team-single-wrap">
        <div class="row">
          <div class="col-lg-5">
            <div class="tekup-team-single-thumb">
              <img src="assets/images/team/team-single.png" alt="">
            </div>
          </div>
          <div class="col-lg-7 d-flex align-items-center">
            <div class="tekup-team-single-content">
              <h2>Marvin McKinney</h2>
              <span>CEO & Founder</span>
              <p>A content management system helps you create, manage, and publish content on the web. It also keep content organized and accessible so it can be used and repurposed effectively.</p>
              <div class="tekup-footer-info dark-color">
                <ul>
                  <li><a href="tel:123"><i class="ri-phone-fill"></i>518-564-3200</a></li>
                  <li><a href="mailto:name@email.com"><i class="ri-mail-fill"></i>mthemeus@example.com</a></li>
                </ul>
              </div>
              <div class="tekup-extra-mt">
                <div class="tekup-social-icon-box style-three">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/">
                        <i class="ri-facebook-fill"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/">
                        <i class="ri-linkedin-fill"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/">
                        <i class="ri-twitter-fill"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/">
                        <i class="ri-instagram-fill"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-team-form">
        <h2>Fill The Contact Form</h2>
        <p>Feel free to contact with us, we don’t spam your email</p>
        <form action="#">
          <div class="row">
            <div class="col-lg-6">
              <div class="tekup-main-field">
                <input type="text" placeholder="Your name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tekup-main-field">
                <input type="number" placeholder="Phone number">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="tekup-main-field">
                <input type="email" placeholder="Email address">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="tekup-main-field">
                <textarea name="textarea" placeholder="Write your message"></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <button id="tekup-main-form-btn" type="button">Send Message <i class="ri-arrow-right-up-line"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  <!-- End section -->

  <div class="section bg-cover" style="background-image: url(assets/images/v1/cta-bg.png)">
    <div class="container">
      <div class="tekup-cta-wrap">
        <div class="tekup-cta-content center">
          <h2>Let’s work together </h2>
          <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn tekup-white-btn" href="contact-us.html">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->



  <!-- Footer  -->

  <footer class="tekup-footer-section dark-bg">
    <div class="container">
      <div class="tekup-footer-top tekup-section-padding">
        <div class="row">
          <div class="col-xl-3 col-lg-12">
            <div class="tekup-footer-textarea light-color">
              <a href="index.html">
                <img src="assets/images/logo/logo-white.svg" alt="">
              </a>
              <p>We are architects of advancement, and partners in your success. As a dynamic forward</p>
              <div class="tekup-social-icon-box style-two">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/">
                      <i class="ri-facebook-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-md-3">
            <div class="tekup-footer-menu light-color">
              <div class="tekup-footer-title light-color">
                <h5>Quick Links</h5>
              </div>
              <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-4">
            <div class="tekup-footer-menu light-color extar-margin">
              <div class="tekup-footer-title light-color">
                <h5>Services</h5>
              </div>
              <ul>
                <li><a href="">UI/UX Design</a></li>
                <li><a href="">App Development</a></li>
                <li><a href="">Digital Marketing</a></li>
                <li><a href="">Web Development</a></li>
                <li><a href="">Cyber Security</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-5">
            <div class="tekup-footer-title light-color light-color">
              <h5>Subscribe Our Newsletter</h5>
              <p>Get ready to work together for the better solution for your business</p>
            </div>
            <div class="tekup-subscription">
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button id="tekup-subscription-btn" type="button">
                  <i class="ri-send-plane-fill"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-footer-bottom">
        <div class="row">
          <div class="col-md-6">
            <div class="tekup-copywright light-color right">
              <p> &copy; 2024 MthemeUs. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tekup-footer-menu light-color style-two right mb-0">
              <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>





  <!-- scripts -->
  <script src="assets/js/jquery-3.7.1.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/menu/menu.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/skill-bar.js"></script>
  <script src="assets/js/slick-animation.min.js"></script>
  <script src="assets/js/faq.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/tabs-slider.js"></script>
  <script src="assets/js/product-increment.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyArZVfNvjnLNwJZlLJKuOiWHZ6vtQzzb1Y"></script>

  <script src="assets/js/app.js"></script>


</body>
</html>