<div class="block block_direct block_direct_video">
	<a title="Regarder le direct" onclick="return tc_events_31(this,'click-navigation',{'clicktype':'navigation','clickelement':this, 'clickchapter1':'home', 'clickchapter2':'video', 'clickname':'direct-tv_renouveautv'});" href="/en-direct/renouveau-tv"> 
			<span class="block_direct_title">Le direct</span>
			<div class="direct_video_hover">
			<span>Regarder le direct</span>
			</div>
			<div class="video_block" id="video_player_6321040605112" accountid="876450610001" playerid="ddff4JxPe" videoid="6321040605112" applicationid="undefined" autoplay="true" pip="false" disablevisibilityhandler="false" adjustfrommediasize="false">
			<video-js data-application-id="undefined" data-video-id="6321040605112" class="video-js vjs-controls-enabled vjs-workinghover vjs-v7 bc-player-ddff4JxPe_default bc-player-ddff4JxPe_default-index-0 vjs-mouse vjs-dock video_player vjs-player-info vjs-contextmenu vjs-contextmenu-ui vjs-errors vjs-playing vjs-has-started vjs-plugins-ready vjs-live vjs-liveui not-hover vjs-user-inactive" playsinline="true" id="vjs-player-6321040605112" tabindex="-1" translate="no" role="region" aria-label="Video Player" aria-labelledby="vjs-player-6321040605112 vjs-dock-title-1" lang="fr">
			<video tabindex="-1" id="vjs-player-6321040605112_html5_api" playsinline="playsinline" class="vjs-tech" data-video-id="6321040605112" data-application-id="undefined" aria-labelledby="vjs-dock-title-1" aria-describedby="vjs-dock-description-2" src="#" muted="muted">
			</video>
			<script src="https://vjs.zencdn.net/vttjs/0.15.3/vtt.global.min.js"></script><div class="vjs-poster vjs-hidden" tabindex="-1" aria-disabled="false"></div>
			<div class="vjs-text-track-display" translate="yes" aria-live="off" aria-atomic="true"><div style="position: absolute; inset: 0px; margin: 1.5%;"></div></div><div class="vjs-dock-text">
			<div class="vjs-dock-title" id="vjs-dock-title-1">Le direct RenouveauTV Home page</div>
			<div class="vjs-dock-description" id="vjs-dock-description-2"></div>
			</div><div class="vjs-dock-shelf"></div>
			<div class="vjs-loading-spinner" dir="ltr">
			<span class="vjs-control-text">Video Player is loading.</span>
			</div>
			<button class="vjs-big-play-button" type="button" title="Play Video" aria-disabled="false">
            <span class="vjs-icon-placeholder" aria-hidden="true"></span><span class="vjs-control-text" aria-live="polite">Play Video</span></button><div class="vjs-control-bar" dir="ltr" style="display: flex;"><button class="vjs-play-control vjs-control vjs-button vjs-playing" type="button" title="Pause" aria-disabled="false">
            <span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Pause</span></button><div class="vjs-volume-panel vjs-control vjs-volume-panel-horizontal"><button class="vjs-mute-control vjs-control vjs-button vjs-vol-0" type="button" title="Unmute" aria-disabled="false">
			<span class="vjs-icon-placeholder" aria-hidden="true"></span>
			<span class="vjs-control-text" aria-live="polite">Unmute</span></button>
			<div class="vjs-volume-control vjs-control vjs-volume-horizontal">
			<div tabindex="0" class="vjs-volume-bar vjs-slider-bar vjs-slider vjs-slider-horizontal" role="slider" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="Volume Level" aria-live="polite" aria-valuetext="0%">
			<div class="vjs-mouse-display"><div class="vjs-volume-tooltip" aria-hidden="true">
			</div></div><div class="vjs-volume-level" style="width: 0%;"><span class="vjs-control-text"></span>
            </div></div></div></div><div class="vjs-current-time vjs-time-control vjs-control">
            <span class="vjs-control-text" role="presentation">Current Time&nbsp;</span>
			<span class="vjs-current-time-display" aria-live="off" role="presentation">1:27</span>
            </div>
            <div class="vjs-time-control vjs-time-divider" aria-hidden="true"><div><span>/</span>
            </div></div><div class="vjs-duration vjs-time-control vjs-control">
            <span class="vjs-control-text" role="presentation">Duration&nbsp;</span><span class="vjs-duration-display" aria-live="off" role="presentation">-:-:-</span></div><div class="vjs-progress-control vjs-control"><div tabindex="0" class="vjs-progress-holder vjs-slider vjs-slider-horizontal" role="slider" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar" aria-valuetext="1:27 of 1:30">
            <div class="vjs-load-progress" style="width: 100%;"><span class="vjs-control-text"><span>Loaded</span>: <span class="vjs-control-text-loaded-percentage">100.00%</span></span>
			<div data-start="54.022622" data-end="101.999999" style="left: 52.96%; width: 47.04%;"></div>
            </div><div class="vjs-mouse-display">
            <div class="vjs-time-tooltip" aria-hidden="true"></div>
            </div>
            <div class="vjs-play-progress vjs-slider-bar" aria-hidden="true" style="width: 100%;">
            <div class="vjs-time-tooltip" aria-hidden="true" style="right: 0px;">0:00</div>
            </div>
            </div>
            </div>
            <div class="vjs-live-control vjs-control">
            <div class="vjs-live-display" aria-live="off">
            <span class="vjs-control-text">Stream Type&nbsp;</span>LIVE</div>
            </div>
            <button class="vjs-seek-to-live-control vjs-control vjs-at-live-edge" type="button" title="Seek to live, currently playing live" aria-disabled="true">
            <span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Seek to live, currently playing live</span><span class="vjs-seek-to-live-text" aria-hidden="true">LIVE</span>
            </button><div class="vjs-remaining-time vjs-time-control vjs-control">
            <span class="vjs-control-text" role="presentation">Remaining Time&nbsp;</span>
            <span aria-hidden="true">-</span><span class="vjs-remaining-time-display" aria-live="off" role="presentation">-:-:-</span>
            </div><div class="vjs-custom-control-spacer vjs-spacer ">&nbsp;</div>
            <div class="vjs-playback-rate vjs-menu-button vjs-menu-button-popup vjs-control vjs-button vjs-hidden"><div class="vjs-playback-rate-value" id="vjs-playback-rate-value-label-vjs-player-6321040605112_component_321">1x</div>
            <button class="vjs-playback-rate vjs-menu-button vjs-menu-button-popup vjs-button" type="button" aria-disabled="false" title="Playback Rate" aria-haspopup="true" aria-expanded="false" aria-describedby="vjs-playback-rate-value-label-vjs-player-6321040605112_component_321">
			<span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Playback Rate</span>
            </button>
            <div class="vjs-menu"><ul class="vjs-menu-content">
            </ul>
            </div>
            </div>
            <div class="vjs-chapters-button vjs-menu-button vjs-menu-button-popup vjs-control vjs-button vjs-hidden">
            <button class="vjs-chapters-button vjs-menu-button vjs-menu-button-popup vjs-button" type="button" aria-disabled="false" title="Chapters" aria-haspopup="true" aria-expanded="false"><span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Chapters</span>
            </button>
            <div class="vjs-menu"><ul class="vjs-menu-content">
            <li class="vjs-menu-title" tabindex="-1">Chapters</li>
            </ul>
            </div>
            </div>
            <div class="vjs-descriptions-button vjs-menu-button vjs-menu-button-popup vjs-control vjs-button vjs-hidden">
            <button class="vjs-descriptions-button vjs-menu-button vjs-menu-button-popup vjs-button" type="button" aria-disabled="false" title="Descriptions" aria-haspopup="true" aria-expanded="false"><span class="vjs-icon-placeholder" aria-hidden="true"></span><span class="vjs-control-text" aria-live="polite">Descriptions</span></button><div class="vjs-menu"><ul class="vjs-menu-content">
            <li class="vjs-menu-item vjs-selected" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="true"><span class="vjs-menu-item-text">descriptions off</span>
			<span class="vjs-control-text" aria-live="polite">, selected</span>
            </li>
            </ul>
            </div></div><div class="vjs-subs-caps-button vjs-menu-button vjs-menu-button-popup vjs-control vjs-button">
            <button class="vjs-subs-caps-button vjs-menu-button vjs-menu-button-popup vjs-button" type="button" aria-disabled="false" title="Subtitles" aria-haspopup="true" aria-expanded="false">
			<span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Subtitles</span>
            </button>
			<div class="vjs-menu">
            <ul class="vjs-menu-content" role="menu">
            <li class="vjs-menu-item vjs-texttrack-settings" tabindex="-1" role="menuitem" aria-disabled="false">
			<span class="vjs-menu-item-text">subtitles settings</span>
            <span class="vjs-control-text" aria-live="polite">, opens subtitles settings dialog</span>
            </li><li class="vjs-menu-item vjs-selected" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="true"><span class="vjs-menu-item-text">subtitles off</span>
			<span class="vjs-control-text" aria-live="polite">, selected</span>
            </li>
            <li class="vjs-menu-item vjs-subtitles-menu-item" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="false"><span class="vjs-menu-item-text">fra_0</span><span class="vjs-control-text" aria-live="polite"></span>
            </li></ul></div></div><div class="vjs-audio-button vjs-menu-button vjs-menu-button-popup vjs-control vjs-button vjs-hidden"><button class="vjs-audio-button vjs-menu-button vjs-menu-button-popup vjs-button" type="button" aria-disabled="false" title="Audio Track" aria-haspopup="true" aria-expanded="false"><span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Audio Track</span></button><div class="vjs-menu">
            <ul class="vjs-menu-content">
			<li class="vjs-menu-item vjs-selected vjs-main-menu-item" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="true"><span class="vjs-menu-item-text">default</span><span class="vjs-control-text" aria-live="polite">, selected</span></li></ul></div></div><button class="vjs-fullscreen-control vjs-control vjs-button" type="button" title="Fullscreen" aria-disabled="false">
            <span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Fullscreen</span></button>
            </div><div class="vjs-error-display vjs-modal-dialog vjs-hidden " tabindex="-1" aria-describedby="vjs-player-6321040605112_component_525_description" aria-hidden="true" aria-label="Modal Window" role="dialog"><p class="vjs-modal-dialog-description vjs-control-text" id="vjs-player-6321040605112_component_525_description">This is a modal window.</p>
            <div class="vjs-modal-dialog-content" role="document"></div>
            </div>
            <div class="vjs-modal-dialog vjs-hidden  vjs-text-track-settings" tabindex="-1" aria-describedby="vjs-player-6321040605112_component_531_description" aria-hidden="true" aria-label="Caption Settings Dialog" role="dialog"><p class="vjs-modal-dialog-description vjs-control-text" id="vjs-player-6321040605112_component_531_description">Beginning of dialog window. Escape will cancel and close the window.</p>
            <div class="vjs-modal-dialog-content" role="document">
			<div class="vjs-track-settings-colors">
            <fieldset class="vjs-fg-color vjs-track-setting">
            <legend id="captions-text-legend-vjs-player-6321040605112_component_531">Text</legend>
            <label id="captions-foreground-color-vjs-player-6321040605112_component_531" class="vjs-label">Color</label>
            <select aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531">
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-White" value="#FFF" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-White">White</option>
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-Black" value="#000" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Black">Black</option>
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-Red" value="#F00" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Red">Red</option>
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-Green" value="#0F0" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Green">Green</option>
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-Blue" value="#00F" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Blue">Blue</option>
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-Yellow" value="#FF0" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Yellow">Yellow</option>
			<option id="captions-foreground-color-vjs-player-6321040605112_component_531-Magenta" value="#F0F" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Magenta">Magenta</option>
            <option id="captions-foreground-color-vjs-player-6321040605112_component_531-Cyan" value="#0FF" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531 captions-foreground-color-vjs-player-6321040605112_component_531-Cyan">Cyan</option>
            </select>
            <span class="vjs-text-opacity vjs-opacity">
            <label id="captions-foreground-opacity-vjs-player-6321040605112_component_531" class="vjs-label">Transparency</label>
            <select aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-opacity-vjs-player-6321040605112_component_531">
            <option id="captions-foreground-opacity-vjs-player-6321040605112_component_531-Opaque" value="1" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-opacity-vjs-player-6321040605112_component_531 captions-foreground-opacity-vjs-player-6321040605112_component_531-Opaque">Opaque</option>
            <option id="captions-foreground-opacity-vjs-player-6321040605112_component_531-SemiTransparent" value="0.5" aria-labelledby="captions-text-legend-vjs-player-6321040605112_component_531 captions-foreground-opacity-vjs-player-6321040605112_component_531 captions-foreground-opacity-vjs-player-6321040605112_component_531-SemiTransparent">Semi-Transparent</option>
            </select></span>
            </fieldset><fieldset class="vjs-bg-color vjs-track-setting">
			<legend id="captions-background-vjs-player-6321040605112_component_531">Background</legend>
            <label id="captions-background-color-vjs-player-6321040605112_component_531" class="vjs-label">Color</label>
            <select aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531">
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Black" value="#000" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Black">Black</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-White" value="#FFF" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-White">White</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Red" value="#F00" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Red">Red</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Green" value="#0F0" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Green">Green</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Blue" value="#00F" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Blue">Blue</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Yellow" value="#FF0" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Yellow">Yellow</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Magenta" value="#F0F" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Magenta">Magenta</option>
            <option id="captions-background-color-vjs-player-6321040605112_component_531-Cyan" value="#0FF" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531 captions-background-color-vjs-player-6321040605112_component_531-Cyan">Cyan</option></select>
            <span class="vjs-bg-opacity vjs-opacity">
            <label id="captions-background-opacity-vjs-player-6321040605112_component_531" class="vjs-label">Transparency</label><select aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531">
            <option id="captions-background-opacity-vjs-player-6321040605112_component_531-Opaque" value="1" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531-Opaque">Opaque</option>
            <option id="captions-background-opacity-vjs-player-6321040605112_component_531-SemiTransparent" value="0.5" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531-SemiTransparent">Semi-Transparent</option>
			<option id="captions-background-opacity-vjs-player-6321040605112_component_531-Transparent" value="0" aria-labelledby="captions-background-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531 captions-background-opacity-vjs-player-6321040605112_component_531-Transparent">Transparent</option>
            </select>
            </span>
            </fieldset>
            <fieldset class="vjs-window-color vjs-track-setting">
			<legend id="captions-window-vjs-player-6321040605112_component_531">Window</legend>
            <label id="captions-window-color-vjs-player-6321040605112_component_531" class="vjs-label">Color</label>
            <select aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531">
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Black" value="#000" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Black">Black</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-White" value="#FFF" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-White">White</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Red" value="#F00" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Red">Red</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Green" value="#0F0" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Green">Green</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Blue" value="#00F" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Blue">Blue</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Yellow" value="#FF0" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Yellow">Yellow</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Magenta" value="#F0F" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Magenta">Magenta</option>
            <option id="captions-window-color-vjs-player-6321040605112_component_531-Cyan" value="#0FF" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531 captions-window-color-vjs-player-6321040605112_component_531-Cyan">Cyan</option>
            </select><span class="vjs-window-opacity vjs-opacity">
            <label id="captions-window-opacity-vjs-player-6321040605112_component_531" class="vjs-label">Transparency</label>
            <select aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531">
            <option id="captions-window-opacity-vjs-player-6321040605112_component_531-Transparent" value="0" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531-Transparent">Transparent</option>
            <option id="captions-window-opacity-vjs-player-6321040605112_component_531-SemiTransparent" value="0.5" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531-SemiTransparent">Semi-Transparent</option>
            <option id="captions-window-opacity-vjs-player-6321040605112_component_531-Opaque" value="1" aria-labelledby="captions-window-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531 captions-window-opacity-vjs-player-6321040605112_component_531-Opaque">Opaque</option>
            </select>
            </span>
            </fieldset>
            </div>
            <div class="vjs-track-settings-font">
            <fieldset class="vjs-font-percent vjs-track-setting">
			<legend id="captions-font-size-vjs-player-6321040605112_component_531" class="">Font Size</legend>
            <select aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531">
            <option id="captions-font-size-vjs-player-6321040605112_component_531-50" value="0.50" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-50">50%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-75" value="0.75" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-75">75%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-100" value="1.00" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-100">100%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-125" value="1.25" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-125">125%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-150" value="1.50" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-150">150%</option>
			<option id="captions-font-size-vjs-player-6321040605112_component_531-175" value="1.75" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-175">175%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-200" value="2.00" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-200">200%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-300" value="3.00" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-300">300%</option>
            <option id="captions-font-size-vjs-player-6321040605112_component_531-400" value="4.00" aria-labelledby="captions-font-size-vjs-player-6321040605112_component_531 captions-font-size-vjs-player-6321040605112_component_531-400">400%</option>
            </select>
            </fieldset>
            <fieldset class="vjs-edge-style vjs-track-setting">
            <legend id="vjs-player-6321040605112_component_531" class="">Text Edge Style</legend>
            <select aria-labelledby="vjs-player-6321040605112_component_531">
            <option id="vjs-player-6321040605112_component_531-None" value="none" aria-labelledby="vjs-player-6321040605112_component_531 vjs-player-6321040605112_component_531-None">None</option>
			<option id="vjs-player-6321040605112_component_531-Raised" value="raised" aria-labelledby="vjs-player-6321040605112_component_531 vjs-player-6321040605112_component_531-Raised">Raised</option>
            <option id="vjs-player-6321040605112_component_531-Depressed" value="depressed" aria-labelledby="vjs-player-6321040605112_component_531 vjs-player-6321040605112_component_531-Depressed">Depressed</option>
            <option id="vjs-player-6321040605112_component_531-Uniform" value="uniform" aria-labelledby="vjs-player-6321040605112_component_531 vjs-player-6321040605112_component_531-Uniform">Uniform</option>
            <option id="vjs-player-6321040605112_component_531-Dropshadow" value="dropshadow" aria-labelledby="vjs-player-6321040605112_component_531 vjs-player-6321040605112_component_531-Dropshadow">Dropshadow</option>
            </select>
            </fieldset>
            <fieldset class="vjs-font-family vjs-track-setting">
            <legend id="captions-font-family-vjs-player-6321040605112_component_531" class="">Font Family</legend>
            <select aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531">
            <option id="captions-font-family-vjs-player-6321040605112_component_531-ProportionalSansSerif" value="proportionalSansSerif" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-ProportionalSansSerif">Proportional Sans-Serif</option>
            <option id="captions-font-family-vjs-player-6321040605112_component_531-MonospaceSansSerif" value="monospaceSansSerif" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-MonospaceSansSerif">Monospace Sans-Serif</option>
            <option id="captions-font-family-vjs-player-6321040605112_component_531-ProportionalSerif" value="proportionalSerif" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-ProportionalSerif">Proportional Serif</option>
            <option id="captions-font-family-vjs-player-6321040605112_component_531-MonospaceSerif" value="monospaceSerif" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-MonospaceSerif">Monospace Serif</option>
            <option id="captions-font-family-vjs-player-6321040605112_component_531-Casual" value="casual" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-Casual">Casual</option>
            <option id="captions-font-family-vjs-player-6321040605112_component_531-Script" value="script" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-Script">Script</option>
            <option id="captions-font-family-vjs-player-6321040605112_component_531-SmallCaps" value="small-caps" aria-labelledby="captions-font-family-vjs-player-6321040605112_component_531 captions-font-family-vjs-player-6321040605112_component_531-SmallCaps">Small Caps</option>
            </select>
            </fieldset>
            </div>
            <div class="vjs-track-settings-controls">
            <button type="button" class="vjs-default-button" title="restore all settings to the default values">Reset<span class="vjs-control-text"> restore all settings to the default values</span></button><button type="button" class="vjs-done-button">Done</button></div>
			</div>
            <button class="vjs-close-button vjs-control vjs-button" type="button" title="Close Modal Dialog" aria-disabled="false"><span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Close Modal Dialog</span></button>
            <p class="vjs-control-text">End of dialog window.</p></div>
            <div class="vjs-player-info-modal vjs-modal-dialog vjs-hidden " tabindex="-1" aria-describedby="vjs-player-6321040605112_component_816_description" aria-hidden="true" aria-label="Player Information Dialog" role="dialog"><button class="vjs-close-button vjs-control vjs-button" type="button" title="Close Modal Dialog" aria-disabled="false">
			<span class="vjs-icon-placeholder" aria-hidden="true"></span>
            <span class="vjs-control-text" aria-live="polite">Close Modal Dialog</span>
            </button>
            <p class="vjs-modal-dialog-description vjs-control-text" id="vjs-player-6321040605112_component_816_description">This is a modal window. This modal can be closed by pressing the Escape key or activating the close button.</p><div class="vjs-modal-dialog-content" role="document"></div></div>
            </video-js><script async="" charset="utf-8" src="https://players.brightcove.net/876450610001/ddff4JxPe_default/index.min.js"></script></div><div class="direct_title">En ce moment : <strong class="direct_home_title">Le Live RenouveauTV</strong>
			</div>
			</a>
			</div>