
  <div class="col-md-12">
    <div class="competitions" >
      <div class="row mt-3">
        <div class="competition-wrapper col-md-3">
          <%= link_to matches_path(competition: "PD"), class: "" do %>
            <img src="https://crests.football-data.org/PD.png" alt="" class="img_competitions">
            <% end %>
        </div>
        <div class="competition-wrapper col-md-3" >
          <%= link_to matches_path(competition: "FL1"), class: "" do %>
            <img src="https://crests.football-data.org/FL1.png" alt="" class="img_competitions">
          <% end %>
        </div>
        <div class="competition-wrapper col-md-3">
          <%= link_to matches_path(competition: "CL"), class: "" do %>
            <img src="https://crests.football-data.org/CL.png" alt="" class="img_competitions">
          <% end %>
        </div>
        <div class="competition-wrapper col-md-3">
          <%= link_to matches_path(competition: "PL"), class: "" do %>
            <img src="https://crests.football-data.org/PL.png" alt="" class="img_competitions">
          <% end %>
        </div>
      </div>
    </div>
    
  </div>  