<div class="webradio-cover">
<%= image_pack_tag "media/images/logo/logo.png" %>
</div>
<div class="webradio-player">
<audio src="https://www.partyvibeA.com:8060/;listen.pls?sid=1" autoplay="false" controls="false"><audio>
</div>