
<div class="container">
	<div class="request-wrapper mg-t-30 mg-b-30">
		<div class="col-md-9">
			<div class="card">
			  <h5 class="card-header">Modifier mon profil</h5>
			  <div class="card-body">
				<%= render 'edit-form', account: @account %>


			</div>
			</div>

		</div>
	</div>

</div>
