<% title "#{@page.title}" %>
<% description "#{@page.content}" %>

<div class="container">

  <div class="row">
    <div class="col-md-9">
      <div class="page-title">
        <h2><%= @page.title %></h2>
      </div>
      <div class="page-wrapper mg-b-30 mg-t-30">
        <div class="card">
         
          <div class="card-body">
            <%= @page.content %>
          </div>

        </div>
      </div>

      

          
    </div>
    <div class="col-md-3">

      <aside id="sidebar" class="sidebar-wrap">
        

      </aside>
    </div>

  </div>
      

      
    </div>
  </div>

</div>
