<footer class="tekup-footer-section dark-bg">
    <div class="container">
      <div class="tekup-infobox-wrap extra-padding">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <a href="tel:123">
              <div class="tekup-infobox-item">
                <div class="tekup-infobox-icon">
                  <i class="ri-phone-fill"></i>
                </div>
                <div class="tekup-infobox-data">
                  <p>Call anytime</p>
                  <h5>518-564-3200</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a href="mailto:name@email.com">
              <div class="tekup-infobox-item">
                <div class="tekup-infobox-icon">
                  <i class="ri-mail-fill"></i>
                </div>
                <div class="tekup-infobox-data">
                  <p>Email address</p>
                  <h5>tachup@example.com</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="tekup-infobox-item">
              <div class="tekup-infobox-icon">
                <i class="ri-time-fill"></i>
              </div>
              <div class="tekup-infobox-data">
                <p>Office Hours</p>
                <h5>8:00 AM – 10:00 PM</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-footer-top tekup-section-padding-bottom">
        <div class="row">
          <div class="col-xl-4 offset-xl-1 col-lg-4 order-lg-4">
            <div class="tekup-footer-title light-color light-color">
              <h5>Subscribe Our Newsletter</h5>
              <p>Get ready to work together for the better solution for your business</p>
            </div>
            <div class="tekup-subscription">
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button id="tekup-subscription-btn" type="button">
                  <i class="ri-send-plane-fill"></i>
                </button>
              </form>
            </div>
            <div class="tekup-social-icon m_bottom">
              <ul>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4">
            <div class="tekup-footer-menu light-color">
              <div class="tekup-footer-title light-color">
                <h5>Quick Links</h5>
              </div>
              <ul>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4">
            <div class="tekup-footer-menu light-color extar-margin">
              <div class="tekup-footer-title light-color">
                <h5>Services</h5>
              </div>
              <ul>
                <li><a href="">UI/UX Design</a></li>
                <li><a href="">App Development</a></li>
                <li><a href="">Digital Marketing</a></li>
                <li><a href="">Web Development</a></li>
                <li><a href="">Cyber Security</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4">
            <div class="tekup-footer-menu light-color mb-0">
              <div class="tekup-footer-title light-color">
                <h5>Information</h5>
              </div>
              <ul>
                <li><a href="">Working Process</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms &amp; Conditions</a></li>
                <li><a href="/faq">Faqs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-footer-bottom center">
        <div class="tekup-copywright light-color right">
          <p> © 2024 MthemeUs. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>