<!-- Footer  -->

  <footer class="tekup-footer-section dark-bg">
    <div class="container">
      <div class="tekup-footer-top tekup-section-padding">
        <div class="row">
          <div class="col-xl-3 col-lg-12">
            <div class="tekup-footer-textarea light-color">
              <a href="index.html">
                <img src="assets/images/logo/logo-white.svg" alt="">
              </a>
              <p>We are architects of advancement, and partners in your success. As a dynamic forward</p>
              <div class="tekup-social-icon-box style-two">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/">
                      <i class="ri-facebook-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-md-3">
            <div class="tekup-footer-menu light-color">
              <div class="tekup-footer-title light-color">
                <h5>Quick Links</h5>
              </div>
              <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-4">
            <div class="tekup-footer-menu light-color extar-margin">
              <div class="tekup-footer-title light-color">
                <h5>Services</h5>
              </div>
              <ul>
                <li><a href="">UI/UX Design</a></li>
                <li><a href="">App Development</a></li>
                <li><a href="">Digital Marketing</a></li>
                <li><a href="">Web Development</a></li>
                <li><a href="">Cyber Security</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-5">
            <div class="tekup-footer-title light-color light-color">
              <h5>Subscribe Our Newsletter</h5>
              <p>Get ready to work together for the better solution for your business</p>
            </div>
            <div class="tekup-subscription">
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button id="tekup-subscription-btn" type="button">
                  <i class="ri-send-plane-fill"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-footer-bottom">
        <div class="row">
          <div class="col-md-6">
            <div class="tekup-copywright light-color right">
              <p> &copy; 2024 MthemeUs. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tekup-footer-menu light-color style-two right mb-0">
              <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

