 <!-- Footer  -->

  <footer class="tekup-footer-section dark-bg">
    <div class="container">
      <div class="tekup-footer-top tekup-section-padding">
        <div class="row">
          <div class="col-xl-4 offset-xl-1 col-lg-4 order-lg-4">
            <div class="tekup-footer-title light-color light-color">
              <h5>Newsletter</h5>
              <p>
                Préparez-vous à travailler ensemble pour trouver la meilleure solution pour votre entreprise
              </p>
            </div>
            <div class="tekup-subscription">
              <form action="#">
                <input type="email" placeholder="Entrer votre Email">
                <button id="tekup-subscription-btn" type="button">
                  <i class="ri-send-plane-fill"></i>
                </button>
              </form>
            </div>
            <div class="tekup-social-icon m_bottom">
              <ul>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4">
            <div class="tekup-footer-menu light-color">
              <div class="tekup-footer-title light-color">
                <h5>Liens rapides</h5>
              </div>
              <ul>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contactez-nous</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4">
            <div class="tekup-footer-menu light-color extar-margin">
              <div class="tekup-footer-title light-color">
                <h5>Services</h5>
              </div>
              <ul>
                <li><a href="#">Développement d'application</a></li>
                <li><a href="#">Intégration système et API</a></li>
                <li><a href="#">Marketing Digital & communication</a></li>
                
                <li><a href="#">Sécurité informatique</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4">
            <div class="tekup-footer-menu light-color mb-0">
              <div class="tekup-footer-title light-color">
                <h5>Information</h5>
              </div>
              <ul>
                <li><a href="">Travaillez avec nous</a></li>
                <li><a href="">Politique de confidentialité</a></li>
                <li><a href="">Termes et conditions</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-footer-bottom center">
        <div class="tekup-copywright light-color right">
          <p> 
            &copy; <%= "#{Time.now.year} #{APPLICATION_NAME}" %>  - Tout droits réservés. v1.0.0
          </p>
        </div>
      </div>
    </div>
  </footer>

