<div class="container">
  <div class="row">
    <div id="pmu-sub-navbar">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to "Accueil", pmu_mali_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Résultats", list_pmu_race_results_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
         
          <%= link_to "Programmes", list_pmu_race_programs_path, class: "nav-link" %>
        </li>
        
       
      </ul>
    </div>
  </div>
</div>
