<section id="trading-view">
  <div class="container">
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget">
      </div>
        <!--
        <div class="tradingview-widget-copyright">
          <a href="https://fr.tradingview.com/" rel="noopener nofollow" target="_blank">
            <span class="blue-text">Suivre tous les marchés sur TradingView</span>
          </a>
        </div> 
      -->
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
      {
        "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR vers USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    }
  ],
  "colorTheme": "light",
  "isTransparent": false,
  "showSymbolLogo": true,
  "locale": "fr"
    }
  </script>
  </div>
</div>
</section>