<div class="tekup-header-top bg-light1">
  <div class="container-fuild">
    <div class="tekup-header-info-wrap">
      <div class="tekup-header-info dark-color">
        <ul>
          <li><i class="ri-map-pin-2-fill"></i>Doumanzana, près d'ASSACODOU, Bamako - Mali</li>
        </ul>
      </div>
      <div class="tekup-header-info dark-color">
        <ul>
          <li><a href="tel:123"><i class="ri-phone-fill"></i>+223 70 20 70 16/ 70 47 11 35/ 79 72 31 62</a></li>
          <li><a href="mailto:name@email.com"><i class="ri-mail-fill"></i>contact@techzenith.io</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>