.brand-logo, .default-logo, .responsive-logo {
  max-width: 100% !important;

}

img.header-logo  {
  /*max-height: 101px !important;*/
  width: 260px !important;
 
}

.footer  img.footer-logo {
  width: 230px !important;

}

@media (min-width: 992px) {
  .site-menu-main .nav-link-item {
   
    text-transform: uppercase !important;
  }
}

.tekup-default-btn.tekup-header-btn, #tekup-default-btn.tekup-header-btn {

  text-transform: uppercase !important;
}
.breadcrumbs ul {
  
  color: var(--white-color) !important;
}

.breadcrumbs ul a{
  line-height: 1;
  z-index: 0;
  /*padding: 0 18px;
    padding-left: 18px;*/
  position: relative;
  display: inline-block;
  color: var(--white-color);
}

.breadcrumbs ul li:last-child {
  padding-right: 0;
  color: var(--white-color);
}