<div class="section bg-light1 tekup-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="tekup-thumb mr-30">
            <%= image_pack_tag "media/images/v3/thumb3.jpg" , alt: "" %>
            <div class="tekup-thumb-card">
              <img src="assets/images/v3/Satisfaction2.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="tekup-default-content ml-60">
            <h2>Des solutions personalisées sur mesure pour nos clients</h2>
            <!--<h5>Pendant ce temps, nous avons bâti une réputation d'excellente satisfaction de nos clients, comme en témoigne notre</h5>-->
            <p>Nous sommes une société de services numériques qui développe et fournit des services et solutions informatiques personnalisées sur mesure pour les entreprises de toutes tailles.
            Nous concevons, construisons, mettons à niveau et maintenons des logiciels et des solutions de haute qualité avec des résultats prouvés.</p>
            <div class="tekup-extra-mt">
              
              <%= link_to raw("Découvrir plus <i class='ri-arrow-right-up-line'></i>"), about_path, class:"tekup-default-btn" %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>