<div class="section tekup-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="tekup-thumb mr-30">
            <%= image_pack_tag "media/images/v2/thumb1.png", alt: "" %>
            <div class="tekup-thumb-card">
              <!-- <img src="assets/images/v3/rating.png" alt=""> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="tekup-default-content ml-60">
            <h2>Nous augmentons le succès commercial grâce à la technologie</h2>
            <div class="tekup-extra-mt">
              <div class="tekup-icon-list-wrap">
                <div class="tekup-icon-list-item">
                  <div class="tekup-icon-list-icon">
                   <%= image_pack_tag "media/images/v2/icon1.png", alt: "" %> 
                  </div>
                  <div class="tekup-icon-list-data">
                    <h5>Solutions de qualités pour les entreprises</h5>
                    <p>
                      Nous sommes architectes de l’innovation, pionniers du progrès technologique et partenaires de votre dynamique de réussite.
                    </p>
                  </div>
                </div>
                <div class="tekup-icon-list-item">
                  <div class="tekup-icon-list-icon">
                    <%= image_pack_tag "media/images/v2/icon2.png", alt: "" %> 
                  </div>
                  <div class="tekup-icon-list-data">
                    <h5>Une équipe d'experts</h5>
                    <p>Entreprise de soutien qui apprendra les détails intimes de la technologie et des processus de votre entreprise tout en</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tekup-extra-mt">
              
              <%= link_to raw("Lire plus... <i class='ri-arrow-right-up-line'></i>"), about_path, class:"tekup-default-btn" %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->
