<div class="benefit-block style-one mt-100"> 
        <div class="container"> 
          <div class="heading text-center">
            <div class="heading3">Case Studies</div>
            <div class="right flex-columns-center gap-8 mt-12">
              <div class="body3">Exploring In-Depth and Inspiring Case Studies of Success Stories</div><a class="flex-item-center gap-8 hover-text-blue" href="service-one.html">
                <div class="text-button">View Our Services</div><i class="ph-bold ph-caret-double-right fs-12 mt-4"></i></a>
            </div>
          </div>
        </div>
        <div class="list-benefit mt-40">
          <div class="row"> 
            <div class="col-12 col-xl-3 col-sm-6">
              <div class="benefit-item"> 
                <div class="bg-img"> 
                	<!--<img class="w-100 h-100 display-block" src="assets/images/component/480x634.png" alt=""/>-->
                	<%= image_pack_tag "media/images/component/480x634.png", alt:""  %>
                </div>
                <div class="text flex-columns-between gap-12">
                  <div class="heading5"><a class="text-white" href="case-studies-detail.html">Trusted Advisor</a></div>
                  <div class="body2 text-white">We are committed to providing reliable and high-quality financial advisory services.</div><a class="flex-item-center gap-4" href="service-detail.html">
                    <div class="text-button text-white">Read More </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-3 col-sm-6">
              <div class="benefit-item"> 
                <div class="bg-img"> 
                	<!--<img class="w-100 h-100 display-block" src="assets/images/component/480x634.png" alt=""/>-->
                	<%= image_pack_tag "media/images/component/480x634.png", alt:""  %>
                </div>
                <div class="text flex-columns-between gap-12">
                  <div class="heading5"><a class="text-white" href="case-studies-detail.html">Team Augmentation</a></div>
                  <div class="body2 text-white">With an experienced and skilled team, we bring the necessary expertise to enhance work productivity.</div><a class="flex-item-center gap-4" href="service-detail.html">
                    <div class="text-button text-white">Read More </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-3 col-sm-6">
              <div class="benefit-item"> 
                <div class="bg-img"> 
                	<!--<img class="w-100 h-100 display-block" src="assets/images/component/480x634.png" alt=""/>-->
                	<%= image_pack_tag "media/images/component/480x634.png", alt:""  %>
                </div>
                <div class="text flex-columns-between gap-12">
                  <div class="heading5"><a class="text-white" href="case-studies-detail.html">Innovation</a></div>
                  <div class="body2 text-white">We constantly seek advanced solutions to address challenges and deliver the highest value to our customers.</div><a class="flex-item-center gap-4" href="service-detail.html">
                    <div class="text-button text-white">Read More </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-3 col-sm-6">
              <div class="benefit-item"> 
                <div class="bg-img"> 
                	<!--<img class="w-100 h-100 display-block" src="assets/images/component/480x634.png" alt=""/>-->
                	<%= image_pack_tag "media/images/component/480x634.png", alt:""  %>
                </div>
                <div class="text flex-columns-between gap-12">
                  <div class="heading5"><a class="text-white" href="case-studies-detail.html">Experience</a></div>
                  <div class="body2 text-white">With over 21 years of serving industrial customers and over 3000 projects, we have the experience to solve almost.</div><a class="flex-item-center gap-4" href="service-detail.html">
                    <div class="text-button text-white">Read More </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>