
  <div class="section bg-light1 tekup-section-padding2">
    <div class="container">
      <div class="tekup-section-title">
        <div class="row">
          <div class="col-xxl-5 col-lg-6">
            <h2>Blog et articles</h2>
          </div>
          <div class="col-xxl-7 col-lg-6 d-flex align-items-center justify-content-end">
            <div class="tekup-title-btn">
              <a class="tekup-default-btn" href="blog.html">Voir plus... <i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-blog-wrap2">
            <div class="tekup-blog-thumb2">
              <%= image_pack_tag "media/images/blog/blog4.png", alt: "" %>
              <div class="tekup-blog-content2">
                <a href="single-blog.html">
                  <h3>Le support technologique permet à l'association à but non lucratif d'erie de servir</h3>
                </a>
                <div class="tekup-blog-meta tekup-blog-meta2">
                  <ul>
                    <li><a href="single-blog.html">Technologie</a></li>
                    <li><a href="single-blog.html">26 Juin 2023</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-blog-wrap2">
            <div class="tekup-blog-thumb2">
              <%= image_pack_tag "media/images/blog/blog5.png", alt: "" %>
              <div class="tekup-blog-content2">
                <a href="single-blog.html">
                  <h3>L’acte de connaissance et l’acte de design thinking</h3>
                </a>
                <div class="tekup-blog-meta tekup-blog-meta2">
                  <ul>
                    <li><a href="single-blog.html">Technologie</a></li>
                    <li><a href="single-blog.html">26 Juin 2023</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-blog-wrap2">
            <div class="tekup-blog-thumb2">
              <%= image_pack_tag "media/images/blog/blog6.png", alt: "" %>
              <div class="tekup-blog-content2">
                <a href="single-blog.html">
                  <h3>Core on Web Vitals, une étude de cas du magazine Smas</h3>
                </a>
                <div class="tekup-blog-meta tekup-blog-meta2">
                  <ul>
                    <li><a href="single-blog.html">Technologie</a></li>
                    <li><a href="single-blog.html">26 Juin 2023</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->
