<div class="section tekup-section-padding2">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Pourquoi devriez-vous nous choisir ?</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap4">
            <div class="tekup-iconbox-icon4">
              <%= image_pack_tag "media/images/iconbox/icon8.png" , alt: "" %> 
            </div>
            <div class="tekup-iconbox-data4">
              <h4>Une équipe d'experts</h4>
              <p>
                Notre équipe d'experts, passionnée et polyvalente, est dédiée à fournir des solutions innovantes et personnalisées pour répondre à tous vos besoins.
              </p>
              <!--<a class="tekup-iconbox-btn" href="/single-service">Learn More <i class="ri-arrow-right-up-line"></i></a>-->
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap4">
            <div class="tekup-iconbox-icon4">
              <%= image_pack_tag "media/images/iconbox/icon9.png" , alt: "" %> 
            </div>
            <div class="tekup-iconbox-data4">
              <h4>Service client rapide</h4>
              <p>
              Notre service client rapide vous offre une assistance immédiate et efficace pour répondre à toutes vos demandes en un temps record.
            </p>
              <!--<a class="tekup-iconbox-btn" href="/single-service">Learn More <i class="ri-arrow-right-up-line"></i></a>-->
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap4">
            <div class="tekup-iconbox-icon4">
              <%= image_pack_tag "media/images/iconbox/icon10.png" , alt: "" %> 
            </div>
            <div class="tekup-iconbox-data4">
              <h4>Prix compétitifs</h4>
              <p>
                Nos prix compétitifs sont conçus pour offrir une valeur exceptionnelle sans compromis sur la qualité, assurant ainsi le meilleur rapport qualité-prix pour nos clients.
              </p>
              <!--<a class="tekup-iconbox-btn" href="/single-service">Learn More <i class="ri-arrow-right-up-line"></i></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>