 <div class="section tekup-section-padding-bottom">
    <div class="container">
      <div id="tekup-counter"></div>
      <div class="tekup-counter-wrap wrap2">
        <div class="tekup-counter-data tekup-counter-data2">
          <h2><span data-percentage="15" class="tekup-counter"></span>+</h2>
          <h5>Années d'expérience</h5>
          <p>Pour réussir, chaque solution logicielle doit être profondément intégrée.</p>
        </div>
        <div class="tekup-counter-data tekup-counter-data2">
          <h2><span data-percentage="50" class="tekup-counter"></span>+</h2>
          <h5>Projets réalisés avec succès</h5>
          <p>Pour réussir, chaque solution logicielle doit être profondément intégrée.</p>
        </div>
        <div class="tekup-counter-data tekup-counter-data2">
          <h2><span data-percentage="100" class="tekup-counter"></span>+</h2>
          <h5>Clients satisfaits</h5>
          <p>Pour réussir, chaque solution logicielle doit être profondément intégrée.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->