<div class="section bg-accent tekup-section-padding3">
    <div id="tekup-counter"></div>
    <div class="container">
      <div class="tekup-counter-wrap4">
        <div class="tekup-counter-data4">
          <h2><span data-percentage="15" class="tekup-counter">15</span>+</h2>
          <p>Années d'expérience</p>
        </div>
        <div class="tekup-counter-data4">
          <h2><span data-percentage="100" class="tekup-counter">100</span>+</h2>
          <p>Projets réussis</p>
        </div>
        <div class="tekup-counter-data4">
          <h2><span data-percentage="198" class="tekup-counter">198</span>+</h2>
          <p>Clients satisfaits</p>
        </div>
      </div>
    </div>
  </div>