<div class="faqs-block style-one mt-100">
        <div class="row row-gap-32">
          <div class="col-12 col-xl-6">
            <div class="bg-img"> 
            	<!--<img src="assets/images/component/960x644.png" alt=""/>-->
            	<%= image_pack_tag "media/images/component/960x644.png", alt:""  %>
            </div>
            <div class="desc bg-blue flex-center">
              <div class="content gap-30"><i class="icon-hand-team icon-white"></i>
                <div class="heading4 text-white">We aim for a world of convenience and value for many customers</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6 bg-surface">
            <div class="content-main">
              <div class="heading3">Frequently Asked questions</div>
              <div class="list-question mt-32">
                      <div class="open question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                        <div class="question-item-main flex-between pt-16 pb-16 heading7">Which device can I use to enter your service?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                        <div class="content-question">
                          <div class="border-line"></div>
                          <div class="body3 text-secondary pt-16 pb-16">You can access our service from any device with an internet connection.</div>
                        </div>
                      </div>
                      <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                        <div class="question-item-main flex-between pt-16 pb-16 heading7">What are your products and services?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                        <div class="content-question">
                          <div class="border-line"></div>
                          <div class="body3 text-secondary pt-16 pb-16">Our products and services include [describe your products/services briefly].</div>
                        </div>
                      </div>
                      <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                        <div class="question-item-main flex-between pt-16 pb-16 heading7">How can I contact your customer support department?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                        <div class="content-question">
                          <div class="border-line"></div>
                          <div class="body3 text-secondary pt-16 pb-16">You can contact our customer support department by provide contact information during our business hours.</div>
                        </div>
                      </div>
                      <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                        <div class="question-item-main flex-between pt-16 pb-16 heading7">Can I return items if I'm not satisfied?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                        <div class="content-question">
                          <div class="border-line"></div>
                          <div class="body3 text-secondary pt-16 pb-16">Yes, you can return items within [specify time frame] if you are not satisfied.</div>
                        </div>
                      </div>
                      <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                        <div class="question-item-main flex-between pt-16 pb-16 heading7">Do you have a customer loyalty program?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                        <div class="content-question">
                          <div class="border-line"></div>
                          <div class="body3 text-secondary pt-16 pb-16">Yes, we have a customer loyalty program. Earn points with each purchase and enjoy exclusive benefits.</div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </div>