  <div class="search-overlay"></div>
  <!--End landex-header-section -->



  <div  id= "particles-js" class="tekup-hero-section2">
    <div class="tekup-hero-slider">
      <div class="tekup-hero-slider-item" style="background-image: url(<%= asset_pack_path('media/images/hero/hero-bg6.jpg') %>)">
        <div class="container">
          <div class="tekup-hero-content center white-color large-content">
            <div class="animated" data-animation-in="fadeInRight">
              <h1>Les meilleures solutions technologiques innovantes</h1>
              <p>Nous sommes des architectes de l’innovation, des pionniers du progrès technologique</p>
            </div>
            <div class="tekup-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
             
              <%= link_to raw("Démarrer un projet avec nous <i class='ri-arrow-right-up-line'></i>"), contact_path, class:"tekup-default-btn tekup-white-btn" %> 
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-hero-slider-item" style="background-image: url(<%= asset_pack_path('media/images/hero/hero-bg7.jpg') %>)">
        <div class="container">
          <div class="tekup-hero-content center white-color large-content">
            <div class="animated" data-animation-in="fadeInRight">
              <h1>Faisons de vos projets et de vos idées une réussite.</h1>
              <p>Nous sommes une société de développement et de conseil en logiciels,
qui créent et fournissent des solutions personnalisées pour les entreprises de toutes tailles.</p>
            </div>

            <div class="tekup-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
              <%= link_to raw("Démarrer un projet avec nous <i class='ri-arrow-right-up-line'></i>"), contact_path, class:"tekup-default-btn tekup-white-btn" %> 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section -->