<div class="partner-five-col style-one mt-100 bg-blue">
        <!--<div class="list pt-32 pb-32">
          <div class="bg-img flex-center">
          	<img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="assets/images/partner/140x32.png" alt=""/></div>
        </div>-->
      </div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
