 <div class="payment-gateway-two mt-100">
        <div class="container"> 
          <div class="row row-gap-32 flex-item-center">
            <div class="col-12 col-xl-5 flex-column row-gap-20">
              <div class="heading3">Payment Gateway Services</div>
              <div class="body2 text-secondary">We provide reliable and secure payment gateway services for businesses of all sizes. With our cutting-edge technology and 24/7 customer support, you can easily accept payments from customers all over the world.</div>
              <div class="list-service"> 
                <div class="service-item flex-item-center"> <i class="ph-bold ph-check text-blue fs-24"> </i>
                  <div class="text-button ml-12">Debt evaluation and ability to repay</div>
                </div>
                <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check text-blue fs-24"> </i>
                  <div class="text-button ml-12">Calculation of credit limit</div>
                </div>
                <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check text-blue fs-24"> </i>
                  <div class="text-button ml-12">Consolidation of personal financial data</div>
                </div>
              </div>
              <div class="button-block"><a class="button-share hover-bg-blue text-white bg-on-surface text-button display-inline-block pt-12 pb-12 pl-36 pr-36 bora-48" href="contact-two.html">Get started</a>
              </div>
            </div>
            <div class="col-11 col-xl-7"> 
              <div class="right pl-40">
                <div class="bg-img"> 
                	<!--<img class="w-100" src="assets/images/component/gateway2-bg.png" alt=""/>-->
                	<%= image_pack_tag "media/images/component/480x634.png", alt:""  %>
                </div>
                <div class="feature-item pt-16 pb-16 pl-24 pr-24 bora-20 bg-white flex-item-center gap-16 box-shadow display-inline-flex"><i class="icon-list fs-28 bg-orange p-16 bora-20"> </i>
                  <div class="text"> 
                    <div class="heading7">2K+</div>
                    <div class="heading7 text-secondary">Projects</div>
                  </div>
                </div>
                <div class="feature-item pt-16 pb-16 pl-24 pr-24 bora-20 bg-white flex-item-center gap-16 box-shadow display-inline-flex"><i class="ph-fill ph-star fs-32 bora-20 text-yellow"></i>
                  <div class="text"> 
                    <div class="heading7">4.8</div>
                    <div class="heading7 text-secondary">Satisfaction</div>
                  </div>
                </div>
                <div class="feature-item pt-16 pb-16 pl-24 pr-24 bora-20 bg-white flex-item-center gap-16 box-shadow display-inline-flex"><i class="icon-user fs-32 bg-orange p-16 bora-20"> </i>
                  <div class="text"> 
                    <div class="heading7">5 Years</div>
                    <div class="heading7 text-secondary">Product Designer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>