 <div class="payment-gateway-one mt-100 bg-surface">
        <div class="bg-img"> 
        	<!--<img class="w-100 h-100" src="assets/images/component/960x680.png" alt=""/>-->
        	<%= image_pack_tag "media/images/component/960x680.png", alt: "" %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="payment-infor flex-columns-between">
                <div class="heading flex-item-center gap-16">
                  <div class="bg-img"> 
                  	<!--<img class="w-100" src="assets/images/component/avatar-gateway1.png" alt=""/>-->

                  	<%= image_pack_tag "media/images/component/avatar-gateway1.png", alt: "" %>
                  </div>
                  <div class="text-button text-secondary">Trusted by 50M+ People <br>around the globe</div>
                </div>
                <div class="text">
                  <div class="heading3">Payment Gateway Services</div>
                  <div class="body3 text-secondary mt-24">We provide reliable and secure payment gateway services for businesses of all sizes. With our cutting-edge technology and 24/7 customer support, you can easily accept payments from customers all over the world.</div>
                </div>
                <div class="button-block flex-item-center gap-24"><a class="button-share box-shadow hover-button-black text-white bg-blue text-button pt-12 pb-12 pl-36 pr-36 bora-48" href="contact-two.html">Get started</a><a class="button-share box-shadow hover-button-black text-on-surface bg-white text-button pt-12 pb-12 pl-36 pr-36 bora-48 flex-item-center gap-8" href="contact-two.html"><i class="ph ph-phone fs-20"></i><span>(00) 123 456 789</span></a>
                	<!--<img src="assets/images/component/gateway1-dot.png" alt=""/>-->
                	
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>