<div class="section tekup-section-padding2 dark-bg">
    <div class="container">
      <div class="tekup-section-title center light-color">
        <h2>Effective & flexible pricing</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-pricing-wrap">
            <div class="tekup-pricing-header">
              <h4>Startup</h4>
              <p>Best for Startup business owners who needs website for business.</p>
            </div>
            <div class="tekup-pricing-price">
              <h2>$99<span>/month</span></h2>
            </div>
            <a class="tekup-pricing-btn" href="pricing.html">Select This Package <i class="ri-arrow-right-up-line"></i></a>
            <div class="tekup-pricing-feature">
              <ul>
                <li><i class="ri-check-line"></i>10 GB disk space availability</li>
                <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
                <li><i class="ri-check-line"></i>Free platform access for all</li>
                <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
                <li><i class="ri-check-line"></i>Free one year support</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-pricing-wrap">
            <div class="tekup-pricing-header">
              <h4>Business</h4>
              <p>Best for Startup business owners who needs website for business.</p>
            </div>
            <div class="tekup-pricing-price">
              <h2>$299<span>/month</span></h2>
            </div>
            <a class="tekup-pricing-btn active" href="pricing.html">Select This Package <i class="ri-arrow-right-up-line"></i></a>
            <div class="tekup-pricing-feature">
              <ul>
                <li><i class="ri-check-line"></i>10 GB disk space availability</li>
                <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
                <li><i class="ri-check-line"></i>Free platform access for all</li>
                <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
                <li><i class="ri-check-line"></i>Free one year support</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-pricing-wrap">
            <div class="tekup-pricing-header">
              <h4>Enterprise</h4>
              <p>Best for Startup business owners who needs website for business.</p>
            </div>
            <div class="tekup-pricing-price">
              <h2>$779<span>/month</span></h2>
            </div>
            <a class="tekup-pricing-btn" href="pricing.html">Select This Package <i class="ri-arrow-right-up-line"></i></a>
            <div class="tekup-pricing-feature">
              <ul>
                <li><i class="ri-check-line"></i>10 GB disk space availability</li>
                <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
                <li><i class="ri-check-line"></i>Free platform access for all</li>
                <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
                <li><i class="ri-check-line"></i>Free one year support</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End section -->