<div class="section tekup-section-padding2">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Notre processus de travail sur la façon de développer votre entreprise</h2>
      </div>
      <div class="tekup-iconbox-line" style="background-image: url(<%= asset_pack_path('media/images/v1/line.png') %>)">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="tekup-iconbox-wrap2">
              <div class="tekup-iconbox-icon2">
                <%= image_pack_tag "media/images/iconbox/icon5.png" , alt: "" %> 
                <div class="tekup-iconbox-count">
                  01
                </div>
              </div>
              <div class="tekup-iconbox-data2">
                <a href="/single-service">
                  <h5>Initiation &amp; Planning</h5>
                </a>
                <p>We are architects innovation trailblazers of technological advancement</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tekup-iconbox-wrap2">
              <div class="tekup-iconbox-icon2">
                <%= image_pack_tag "media/images/iconbox/icon6.png" , alt: "" %> 
                <div class="tekup-iconbox-count">
                  02
                </div>
              </div>
              <div class="tekup-iconbox-data2">
                <a href="/single-service">
                  <h5>Execution &amp; Development</h5>
                </a>
                <p>We are architects innovation trailblazers of technological advancement</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
            <div class="tekup-iconbox-wrap2">
              <div class="tekup-iconbox-icon2">
                <%= image_pack_tag "media/images/iconbox/icon7.png", alt: "" %> 
                <div class="tekup-iconbox-count">
                  03
                </div>
              </div>
              <div class="tekup-iconbox-data2">
                <a href="/single-service">
                  <h5>Testing &amp; Maintenance</h5>
                </a>
                <p>We are architects innovation trailblazers of technological advancement</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>