 <div class="service-block mt-100">
        <div class="container"> 
          <div class="heading3 text-center">Our Services</div>
          <div class="list-service row mt-40 row-gap-32">
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-cryptocurrency-trading.html">
                        <div class="heading flex-between"><i class="icon-coin-chair text-blue fs-60"></i>
                          <div class="number heading3 text-placehover"> </div>
                        </div>
                        <div class="desc">
                          <div class="heading7 hover-text-blue">Cryptocurrency Trading</div>
                          <div class="body3 text-secondary mt-4">Experience the excitement and potential of the cryptocurrency market with our expert trading services.</div>
                        </div></a>
                    </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-portfolio-management.html">
                        <div class="heading flex-between"><i class="icon-hand-tick text-blue fs-60"></i>
                          <div class="number heading3 text-placehover"> </div>
                        </div>
                        <div class="desc">
                          <div class="heading7 hover-text-blue">Portfolio Management</div>
                          <div class="body3 text-secondary mt-4">We analyze market trends, manage risks, and optimize your portfolio to maximize returns and achieve your financial goals.</div>
                        </div></a>
                    </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-investment-advice.html">
                        <div class="heading flex-between"><i class="icon-hand-house text-blue fs-60"></i>
                          <div class="number heading3 text-placehover"> </div>
                        </div>
                        <div class="desc">
                          <div class="heading7 hover-text-blue">Investment Advice</div>
                          <div class="body3 text-secondary mt-4">Our team of experienced advisors will guide you in making informed investment decisions, whether you're a beginner or an experienced trader.</div>
                        </div></a>
                    </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-detail.html">
                        <div class="heading flex-between"><i class="icon-gear-warning text-blue fs-60"></i>
                          <div class="number heading3 text-placehover"> </div>
                        </div>
                        <div class="desc">
                          <div class="heading7 hover-text-blue">Risk Management</div>
                          <div class="body3 text-secondary mt-4">We employ industry-leading tools and techniques to protect your investments and minimize potential losses.</div>
                        </div></a>
                    </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-research-analysis.html">
                        <div class="heading flex-between"><i class="icon-text-search text-blue fs-60"></i>
                          <div class="number heading3 text-placehover"> </div>
                        </div>
                        <div class="desc">
                          <div class="heading7 hover-text-blue">Research and Analysis</div>
                          <div class="body3 text-secondary mt-4">We provide timely reports, market updates, and data-driven insights to help you make informed trading decisions</div>
                        </div></a>
                    </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-education-resources.html">
                        <div class="heading flex-between"><i class="icon-education text-blue fs-52"></i>
                          <div class="number heading3 text-placehover"> </div>
                        </div>
                        <div class="desc">
                          <div class="heading7 hover-text-blue">Education and Resources</div>
                          <div class="body3 text-secondary mt-4">Expand your knowledge and skills in cryptocurrency trading through our educational resources.</div>
                        </div></a>
                    </div>
            </div>
          </div>
        </div>
      </div>