<div class="slider-block style-one"> 
        
        <div class="slider-main">
          <div class="slider-item slider-first">
            <div class="bg-img"> 
                <!--<img class="w-100 h-100 animate__animated animate__fadeIn animate__delay-0-2s" src="assets/images/slider/slider1.png" alt=""/>-->
                <%= image_pack_tag "media/images/slider/slider.jpg", alt:"", class: "w-100 h-100"  %>
            </div>
            <div class="container"> 
              <div class="text-content flex-columns-between">
                <div class="heading2 animate__animated animate__fadeInUp animate__delay-0-2s text-white">
                  Transformez chaque événement <br>en une expérience inoubliable
                  
                  <!--<span class="text-blue w-350">Our Solution</span>-->
                </div>
                <div class="body2 mt-12  animate__animated animate__fadeInUp animate__delay-0-5s text-white">
                 Notre plateforme offre une expérience immersive et intuitive, facilitant la planification<br> et la gestion d'événements de toutes tailles, tout en offrant des outils de promotion <br>et de suivi avancés pour garantir le succès de chaque occasion.</div>
                <div class="button-block mt-40 animate__animated animate__fadeInUp animate__delay-0-8s">
                  
                  <%= link_to "Se connecter", new_account_session_path, class: "button-share display-inline-block hover-button-black border-none bg-blue text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" %>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        
      </div>