 <div class="section tekup-section-padding">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Ce que nos clients disent de nous</h2>
      </div>
      <div class="tekup-t-two-column-slider-wrap">
        <div class="tekup-t-two-column-slider">
          <div class="tekup-t-two-column-slider-item">
            <div class="row">
              <div class="col-lg-5">
                <div class="tekup-t-two-column-thumb">
                  <%= image_pack_tag "media/images/v2/t-thumb1.png", alt: "" %> 
                </div>
              </div>
              <div class="col-lg-7 d-flex align-items-center">
                <div class="tekup-t-two-column-data">
                  <div class="tekup-t-two-column-rating">
                    <ul>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                    </ul>
                  </div>
                  <p>“ If you’re looking for a rewarding career and a chance to make an impact, you’ve come to the right place We will transform your business through our techniques! ”</p>
                  <div class="tekup-t-two-column-author">
                    <h5>Alexander Cameron</h5>
                    <span>Lead Developer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tekup-t-two-column-slider-item">
            <div class="row">
              <div class="col-lg-5">
                <div class="tekup-t-two-column-thumb">
                  <%= image_pack_tag "media/images/v2/t-thumb2.png", alt: "" %>
                </div>
              </div>
              <div class="col-lg-7 d-flex align-items-center">
                <div class="tekup-t-two-column-data">
                  <div class="tekup-t-two-column-rating">
                    <ul>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                      <li><i class="ri-star-s-fill"></i></li>
                    </ul>
                  </div>
                  <p>“ If you’re looking for a rewarding career and a chance to make an impact, you’ve come to the right place We will transform your business through our techniques! ”</p>
                  <div class="tekup-t-two-column-author">
                    <h5>Alexander Cameron</h5>
                    <span>Lead Developer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->