<div class="section tekup-section-padding2">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Ce que nos clients disent de nous</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-testimonial-box">
            <div class="tekup-testimonial-rating">
              <ul>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
              </ul>
            </div>
            <p>“ Nous apprécions le service constant de haute qualité fourni par leur équipe qui va rapidement au-delà de vos préoccupations. ”</p>
            <div class="tekup-testimonial-author">
              <h5>Samba TOURE</h5>
              <span>Responsable Technique</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-testimonial-box">
            <div class="tekup-testimonial-rating">
              <ul>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
              </ul>
            </div>
            <p>“ Collaborer avec a été un avantage pour notre entreprise. Leur engagement à rester au courant des dernières tendances de l'industrie ”</p>
            <div class="tekup-testimonial-author">
              <h5>Mariam SIDIBE</h5>
              <span>Chef de produit</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-testimonial-box">
            <div class="tekup-testimonial-rating">
              <ul>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
              </ul>
            </div>
            <p>“ Nous apprécions le service constant de haute qualité fourni par leur équipe qui va rapidement au-delà de vos préoccupations. ”</p>
            <div class="tekup-testimonial-author">
              <h5>Alassane DEMBELE</h5>
              <span>Chef d'entreprise</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>